
  <div class="support"></div>
  <div class="clock">
    <div class="numbers">
      <ul>
        <li>12</li>
        <li>3</li>
        <li>6</li>
        <li>9</li>
      </ul>
    </div>
    <div id="clock">

    <div class="clockwise">
      <div class="center"></div>
      <div class="hand-second" id="analogsecond"></div>
      <div class="hand-minute" id="analogminute"></div>
      <div class="hand-hour" id="analoghour"></div>
    </div>
  </div>
</div>


<form class="landing" action="index.html" method="post">
  <input id="resizer" type='text' placeholder="Let's Meet" autofocus/>
  <button id="button" type="button" class="btn btn-default">Find Me a Spot Nearby</button>
</form>
