
  <div class="clock">
    <div class="numbers">
      <ul>
        <li>12</li>
        <li>3</li>
        <li>6</li>
        <li>9</li>
      </ul>
    </div>
    <div id="clock">

    <div class="clockwise">
      <div class="center"></div>
      <div class="hand-second" id="analogsecond"></div>
      <div class="hand-minute" id="analogminute"></div>
      <div class="hand-hour" id="analoghour"></div>
    </div>
  </div>
</div>

<form action="/search" method="get">
  <input id="landing-input" type='text' name="q" placeholder="Find a Place to Meet" autofocus/>
  <input id: 'q' type="submit" name="commit" value="search"/>
</form>

<!-- <button id="meeting_list_btn" type="submit" class="btn btn-default">Find Me a Spot Nearby</button> -->
<%= button_to '', meetings_path, id: 'meeting_list_btn', method: :get %>
