
<div class="container search-manage">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
    <h2>Manage Keywords</h2>
      <% if !@searches.empty? %>
        <% @searches.each do |search| %>
          <% if current_user.id == search.user_id %>
            <span><%= search.keyword.upcase %></span>
            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, search, method: :delete %>
          <% end %>
        <% end %>
      <% end %>
		</div>
	</div>
</div>
