<div class="page-header">
  <h1>Keyword searches</h1>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
            <th>Keyword</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @searches) do |search| %>
        <% if current_user.id == search.user_id %>
            <td><%= search.keyword %></td>
            <td><%= link_to 'Delete', search, method: :delete %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
