<div class="page-header">
  <%= link_to meetings_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Meeting List
  <% end %>
  <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>

  <h1>Updated successfully!</h1>
</div>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @post.description %></dd>

  <dt>User:</dt>
  <dd><%= @post.user.username %></dd>

</dl>
