/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */

 /*
   CSS
   -  None of this is required for resizer to work.
 */

select{
  color:black;
}

 .dl-horizontal dt {
   text-align: center;
 }

 .navbar-inverse .navbar-brand {
     color: rgba(255, 255, 255, 0.9);
 }

 .btn {
    color: #ffffff;
    background-color: rgba(240, 228, 102, 0.31);
    border-color: transparent;
  }

  #uglybutton input {
    background-color: rgba(240, 228, 102, 0.31);
    padding: 5px;
    border-radius:5%;
    /*margin-right: 230px;*/
  }

  #user_avatar {
    text-align: center;
    display: inline-block;
    margin-left: 160px;
  }

 .row {
    margin-left: 0px;
    margin-right: 0px;
  }


body {
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Raleway', sans-serif;
    /*font-weight: 400;*/
}


.actions {
  color: black;


}

.form-control {
  color: black;
}

/*this changes the color of the button fonts*/
input{
  color:rgba(0,0,0,0.82);
}


 #navbar {
   float:right;
 }


/*.navbar {
   background-color: black;
   background: rgba(0,0,0,0.30);
   border-color: rgba(0,0,0,0.09);

}*/
/*
.navbar li { color: #000 }*/

.flash-message {
  position: fixed;
  top: 100px;
}

#custom-nav {
    background-color: rgba(0,0,0,0.2);
    border: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}

#custom-nav .dropdown-menu {
    border-radius: 0;
    border: none;
    border-top: 5px solid transparent;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0;
}

#custom-nav .container {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
    -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
    transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
}

#custom-nav.affix {
    top: 0;
    min-width: 100%;
    background-color: #000000;

    opacity: 0.9;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
