/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */

 /*
   CSS
   -  None of this is required for resizer to work.
 */
body {
  font-family: 'Poppins', sans-serif;

}


.actions {
  color: black;

}

.form-control {
  color: black;
}

/*this changes the color of the button fonts*/
input{
  color:rgba(0,0,0,0.82);
}


 #navbar {
   float:right;
 }


.navbar {
   background-color: black;
   background: rgba(0,0,0,0.30);
   border-color: rgba(0,0,0,0.09);

}

.navbar li { color: #000 }
